.navbar {
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  &__burgerMenu {
    position: relative;
    top: 2px;
    cursor: pointer;
    // &:hover {
    // }
  }
  &__logo {
    justify-self: start;
  }
  &__cart {
    cursor: pointer;
  }
  &__avatar {
    // margin-left: 1.5rem;
    img {
      width: 3rem;
    }
  }
}
