@use '../utils' as U;
.navbar {
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  &__burgerMenu {
    position: relative;
    top: 2px;
    cursor: pointer;
    // &:hover {
    // }
  }
  &__logo {
    justify-self: start;
  }
  &__links {
    padding: 2rem;
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-color: U.$clr-neutral-200;

    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    z-index: 9;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100vh;
      background-color: rgba(U.$clr-neutral-000, 0.5);
    }
    &::after {
      content: '';
      inset: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: U.$clr-neutral-200;
      z-index: -1;
    }
  }
  &__linksWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__link {
    list-style: none;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    color: U.$clr-neutral-900;
    transition: color 0.2s ease;
    &:hover {
      color: U.$clr-neutral-700;
    }
  }
  &__cart {
    cursor: pointer;
    position: relative;
    &::after {
      content: attr(content-value);
      font-size: 1rem;
      text-align: center;
      color: U.$clr-neutral-200;
      position: absolute;
      bottom: 80%;
      right: -20%;
      width: 2rem;
      height: 1.2rem;
      border-radius: 1rem;
      background-color: U.$clr-primary-orange;
    }
  }
  &__avatar {
    // margin-left: 1.5rem;
    img {
      width: 3rem;
    }
  }
}
