@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  99% {
    transform: translateX(-100%);
    display: initial !important;
  }
  100% {
    transform: translateX(-100%);
    display: none !important;
  }
}
