$clr-primary-orange: hsl(26, 100%, 55%);
$clr-primary-pale: hsl(25, 100%, 94%);

$clr-neutral-900: hsl(220, 13%, 13%);
$clr-neutral-700: hsl(219, 9%, 45%);
$clr-neutral-600: hsl(220, 14%, 75%);
$clr-neutral-500: hsl(223, 64%, 98%);
$clr-neutral-200: hsl(0, 0%, 100%);
$clr-neutral-000: hsl(0, 0%, 0%);

$fnt-base: 'Kumbh Sans', sans-serif;
$fnt-bold: 700;
$fnt-regular: 400;
